/* フェードイン　*/
.scrollanime {opacity: 0;}
.fadeInDown {
    position: absolute;
    top: 24%;
    left: 16%;
    animation-name: fadeInDown;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;         
    }
    100% {
    opacity: 1;
    transform: translate(0);
    }
}
 
.updown {transform: translateY(-100px);}
.downup {transform: translateY(100px);}
 
.sect02{overflow: hidden;} 
.slide-right {transform: translateX(200px);}
.slide-left {transform: translateX(-200px);}
