.hukidashi1{
    position: relative;
    display: inline-block;
    top: 57%;
    right: -60%;
    margin: 2.5% 0;
    padding: 2% 2%;
    min-width: 30%;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #ffffff;
    border-radius: 15px;
  }
  .hukidashi1:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 60%;
    margin-left: -1%;
    border: 15px solid transparent;
    border-top: 15px solid #ffffff;
  }
  .hukidashi1 p {
      margin: 0;
      padding: 0;
    }
    
    .hukidashi2{
        position: relative;
        display: inline-block;
        top: 125%;
        right: -3%;
        margin: 2.5% 0;
    padding: 2% 2%;
        min-width: 30%;
        max-width: 100%;
        color: #555;
        font-size: 16px;
        background: #ffffff;
        border-radius: 15px;
      }
      .hukidashi2:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -1%;
        border: 15px solid transparent;
        border-top: 15px solid #ffffff;
      }
      .hukidashi2 p {
          margin: 0;
          padding: 0;
        }
        
        .hukidashi3{
            position: relative;
            display: inline-block;
            top: 165%;
            right: -65%;
            margin: 2.5% 0;
    padding: 2% 2%;
            min-width: 30%;
            max-width: 100%;
            color: #555;
            font-size: 12px;
            background: #b4ffff;
            border-radius: 15px;
          }
          .hukidashi3:before {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -1%;
            border: 15px solid transparent;
            border-top: 15px solid #b4ffff;
          }
          .hukidashi3 p {
              margin: 0;
              padding: 0;
            }

            .hukidashi4{
              position: relative;
              display: inline-block;
              top: 235%;
              right: -10%;
              margin: 2.5% 0;
    padding: 2% 2%;
              min-width: 30%;
              max-width: 100%;
              color: #555;
              font-size: 14px;
              background: #ffffff;
              border-radius: 15px;
            }
            .hukidashi4:before {
              content: "";
              position: absolute;
              top: 100%;
              left: 50%;
              margin-left: -1%;
              border: 15px solid transparent;
              border-top: 15px solid #ffffff;
            }
            .hukidashi4 p {
                margin: 0;
                padding: 0;
              }

              .hukidashi5{
                position: relative;
                display: inline-block;
                top: 284%;
                right: -52%;
                margin: 2.5% 0;
    padding: 2% 2%;
                min-width: 30%;
                max-width: 100%;
                color: #555;
                font-size: 16px;
                background: #ffffff;
                border-radius: 15px;
              }
              .hukidashi5:before {
                content: "";
                position: absolute;
                top: 100%;
                left: 70%;
                margin-left: -1%;
                border: 15px solid transparent;
                border-top: 15px solid #ffffff;
              }
              .hukidashi5 p {
                  margin: 0;
                  padding: 0;
                }
  
                .hukidashi6{
                  position: relative;
                  display: inline-block;
                  top: 350%;
                  right: 33%;
                  margin: 2.5% 0;
    padding: 2% 2%;
                  min-width: 30px;
                  max-width: 100%;
                  color: #555;
                  font-size: 16px;
                  background: #d1d1d1;
                  border-radius: 15px;
                }
                .hukidashi6:before {
                  content: "";
                  position: absolute;
                  top: 100%;
                  left: 20%;
                  margin-left: -1%;
                  border: 15px solid transparent;
                  border-top: 15px solid #d1d1d1;
                }
                .hukidashi6 p {
                    margin: 0;
                    padding: 0;
                  }

                  .hukidashi7{
                    position: relative;
                    display: inline-block;
                    top: 403%;
                    right: -58%;
                    margin: 2.5% 0;
    padding: 2% 2%;
                    min-width: 30%;
                    max-width: 100%;
                    color: #555;
                    font-size: 16px;
                    background: #ffffff;
                    border-radius: 15px;
                  }
                  .hukidashi7:before {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 65%;
                    margin-left: -1%;
                    border: 15px solid transparent;
                    border-top: 15px solid #ffffff;
                  }
                  .hukidashi7 p {
                      margin: 0;
                      padding: 0;
                    }
